<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tutorial Angular JS</title>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular-route.js"></script>
	<script src="app.js"></script>
	<base href="angular">
</head>
<!-- diretivas angular -->
<body ng-app="angular_app">

	<input type="text" ng-model="nome">

	<!-- varial angular em runtime  -->
	<h1>{{nome}}</h1>

	<div ng-controller="appController">
		<h2>o nome da aplicacao é {{appName}}</h2>
		<!-- <button ng-click="appName="José">mudar NOME</button> -->

		<input type="text" ng-model="newname" placeholder="digite um novo nome">

		<button ng-click="atualizarNome(newname)">atualizar Nome</button>
	</div>

	<hr>
	<h1>view</h1>

	<ng-view></ng-view>
	
</body>
</html>